@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 



.header{
    width: 100%;
    height: 90px;
    background: rgb(65, 105, 225, 0.5) ;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}

.h1{
    margin-right: 300px;
}

.content{
    width: 100%;
    height: calc(100% - 40px);
    background-color: whitesmoke;
    color: rgb(65, 105, 225, 0.5);
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}

.button-login button,
.button-register button {
    background-color: rgb(65, 105, 225, 0.5); /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Set the font size */
    border: none; /* Remove border */
    cursor: pointer; /* Add a pointer cursor on hover */
    margin-right: 30px; /* Add margin between buttons */
    font-family: 'Poppins',sans-serif;

}

.button-login button:hover,
.button-register button:hover {
    background-color: rgb(65, 105, 225, 0.5); /* Change background color on hover */
}


.footer{
    width: 100%;
    height: 50px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 10pt;
    line-height: 20px;
    text-align: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    background: rgb(65, 105, 225, 0.5) ;
    
}


/* Add these styles to your existing CSS */

.bubble-container {
    position: fixed;
    bottom: 0;
    left: 40%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .bubble {
    width: 50px;
    height: 50px;
    background-color: rgba(18, 204, 179, 0.5);
    border-radius: 50%;
    position: absolute;
    animation: bubbleAnimation 3s infinite ease-in-out;
  }
  
  @keyframes bubbleAnimation {
    0% {
      transform: translateY(0) scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(-500px) scale(1);
      opacity: 0;
    }
  }
  
.footer1{
  background-color:rgb(65, 105, 225, 0.5) ;
  text-align: center;
  color: #fff;
  font-size: medium;
}